/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$orange: #f39800;

body {
  margin: 0;
  background-color: #f9f9f9;
  font-size: 16px;
}

.width-50 {
  width: 50%;
}

.type-field {
    height: 50px;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 2px;
    transition: .3s;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 50px;
    font-size: 16px;
}

.comment {
  min-height: 90px;
  transition: .3s;
  border-bottom: solid 1px #fff;
  &__left {
    width: 10%;
    float: left;
  }
  &__right {
    width: 88%;
    float: right;
  }
  &__thumbnail {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 50%;
  }
  &__info {
    font-size: 13px;
    margin-bottom: 3px;
    font-style: italic;
  }
  &__content {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  &__reply {
    font-size: 14px;
    opacity: .7;
  }
  &__likes {
    color: $orange;
    font-size: 14px;
    margin-right: 10px;
  }
  &__up {
    cursor: pointer;
  }
  &__down {
    cursor: pointer;
  }
}

.event {
  margin: 50px auto;
  width: 80%;
  &__chat {
    min-height: 150px;
    background-color: white;
    padding: 20px;
    border: solid 1px #ddd;
    border-radius: 2px;
    transition: .3s;
  }
  &__date {
    div {}
  }
  &__description {
    margin-bottom: 20px;
    opacity: .8;
    letter-spacing: 1px;
  }
  &__info {
    background: white;
    padding: 20px;
    border: solid 1px #ddd;
    border-radius: 2px;
    margin-bottom: 20px;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__video {
    margin-bottom: 20px;
    width: 100%;
  }
  &__start-at {

  }
  &__end-at {

  }
  &__user {
    background: white;
    padding: 20px;
    border: solid 1px #ddd;
    border-radius: 2px;
  }
}
.event-left {
  width: 70%;
  float: left;
  padding-bottom: 50px;
}
.event-right {
  width: 25%;
  float: left;
  margin-left: 5%;
}

.form {
   width: 80%;
   margin: 50px auto;
   padding: 20px;
   border-radius: 2px;
   background-color: white;
   &__label {
     margin-bottom: 20px;
   }
  &__text {
    line-height: 2;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.header {
  height: 65px;
  background-color: $orange;
  &__nav {
    width: 30%;
    float: right;
    &__link {
      color: white;
      line-height: 65px;
    }
  }
}

.user {
  &__image {
    img{
      width: 70%;
      border-radius: 50%;
      margin: 0 auto 40px;
      display: block;
    }
  }
  &__name {
    font-style: italic;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  &__stats {
    height: 100px;
    &__stat {
      width: 33%;
      float: left;
      height: 100px;
      i {
        display: block;
        text-align: center;
        height: 50px;
        font-size: 36px;
      }
      div {
        font-size: 20px;
        text-align: center;
        height: 50px;
      }
    }
  }
}
